[Unit]
Description=Check rotation of uo-request-generator technical logs every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true
Unit=uo-request-generator-technical-logrotate.service

[Install]
WantedBy=timers.target
